{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block body %}
<div id="main" class="d-flex vh-100">
  <div class="col-3 section invisible" id="left-section">
    <div class="row" id="left-header">
      <div class="dropdown">
        <button id="menu-btn" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-list"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-blue" aria-labelledby="menu-btn">
          <li><button 
            class="dropdown-item" id="create-group"
            ><i class="bi bi-people-fill"></i>Create group</button></li>
          <li><button 
            class="dropdown-item" id="create-private"
            ><i class="bi bi-chat-left-fill"></i>Send message</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item"><i class="bi bi-bug-fill"></i>Report wasp</button></li>
        </ul>
      </div>
      <div id="search-wrapper">
        <input type="text" id="search" autocomplete="off" placeholder="Search" class="form-control">
      </div>
    </div>
    <div id="chat-list" class="custom-scroll"></div>
    <div id="search-result-list" class="custom-scroll invisible"></div>
  </div>
  <div class="col section" id="middle-section">
    <div class="invisible">
      <div id="middle-header">
        <div class="avatar no-photo size-medium"></div>
        <div class="info">
          <div class="title">
            <h5 id="middle-title"></h5>
          </div>
          <div class="status text-white-50">
            <span class="group-status" id="middle-member-count"></span><span class="online-status" id="middle-online-count"></span>
          </div>
        </div>
      </div>
      <div id="chat-messages">
        <div id="message-layout"></div>
      </div>
      <div id="message-input">
        <div contenteditable="true" id="editable-message-text" placeholder="Message"
          onfocus="let t = this.innerHTML; this.innerHTML = ''; this.innerHTML = t;"></div>
        <button id="send-button" class="button round">
          <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="section invisible" id="right-section">
    <div id="right-header" class="sticky-date">
      <div>
        <h5>Group Info</h5>
        <button class="button translucent faded round" id="hide-right"><i class="bi bi-x-lg"></i></button>
      </div>
    </div>
    <div class="chat-info">
      <div class="status">
        <div class="avatar no-photo size-xl"></div>
      </div>
      <div class="info">
        <div class="title">
          <h5 id="right-title"></h5>
        </div>
        <div class="status text-white-50">
          <span class="group-status" id="right-member-count"></span><!--
           --><span class="online-status" id="right-online-count"></span>
        </div>
      </div>
    </div>
    <div class="members-wrapper">
      <div class="members-header">
        <div><i class="bi bi-people"></i></div>
        <div class="member-count"></div>
        <button class="button translucent circle" id="add-member">
          <i class="bi bi-person-plus"></i>
        </button>
      </div>
      <div class="members"></div>
    </div>    
  </div>
</div>
<div id="portals"></div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/strftime.js') }}"></script>
<script src="{{ url_for('static', filename='js/contextMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.position.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/chat/main.js') }}"></script>
{% endblock %}