{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block body %}
<div id="main" class="d-flex vh-100">
  <div class="col-3 section" id="left-section">
    <div class="row" id="left-header">
      <button class="col-2" id="menu-btn">
        <img src="{{ url_for('static', filename='images/menu-btn-white.png') }}" alt="Menu button" width="35px">
      </button>
      <div class="col">
        <input type="text" id="search" placeholder="Search" class="form-control">
      </div>
    </div>
    <div id="chat-list" class="custom-scroll">
      {% for chat in chats %}
      {% set title = chat.title if chat.title else chat.get_private_title(user) %}
      {% set last_message = chat.messages.first() %}
      {% set unread_messages_count = chat.get_unread_messages(user)|length %}
      <div class="chat {{ 'group' if chat.title else 'private' }}" data-id="{{ chat.id }}">
        <div class="status">
          <div class="avatar no-photo size-large color-bg-{{ title[0]|ordinal_last }}">
            {{ title[0]|upper }}
          </div>
        </div>
        <div class="info">
          <div class="title">
            <h3 class="text-white list-chat-title">{% if chat.title %}<i class="bi bi-people-fill"></i>  {% endif %}{{ title }}</h3>
            <div class="last-message-meta">
              {% if last_message.from_user.id == user.id %}
                <div class="message-outgoing-status text-white-50">
                  <i class="bi bi-check{{ '-all' if last_message.seen_by.count() > 1 }}"></i>
                </div>
              {% endif %}
              <span class="time text-secondary">{{ last_message.created_at|diff_now }}</span>
            </div>
          </div>
          <div class="subtitle">
            <p class="last-message text-white-50">
              {% if chat.title %}
                <span class="sender-name">{{ 'You' if last_message.from_user.id == user.id else last_message.from_user.username }}</span>
              {% endif %}
              {{ last_message.text }}
            </p>
            <div class="unread-messages-count {% if unread_messages_count == 0 %}invisible{% endif %}">
              {{ unread_messages_count }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col section" id="middle-section">
    <div class="invisible">
      <div id="middle-header">
        <div class="avatar no-photo size-medium"></div>
        <div class="info">
          <div class="title">
            <h5 id="middle-title"></h5>
          </div>
          <div class="status text-white-50">
            <span class="group-status" id="middle-member-count"></span><span class="comma invisible">,</span>            
            <span class="online-status" id="middle-online-count"></span>
          </div>
        </div>
      </div>
      <div id="chat-messages">
        <div id="message-layout"></div>
      </div>
      <div id="message-input">
        <div 
          contenteditable="true" id="editable-message-text" 
          placeholder="Message" onfocus="let t = this.innerHTML; this.innerHTML = ''; this.innerHTML = t;"
        ></div>
        <button id="send-button" class="button round">
          <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="section invisible" id="right-section"></div>
</div>
<div id="portals"></div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/strftime.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/contextMenu.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.position.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}