{% extends 'base.html' %}

{% block title %} - About{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<style>
  div#main {
    width: 100vw;
    margin-top: 8vh;
  }

  div#caption {
    margin-bottom: 5vh;
    padding: 30px 0;
    background-color: white;
    font-size: 2rem;
    text-align: center;
  }

  div#images {
    height: 20vh;
  }
  
  div#images > img {
    max-height: 100%; 
    max-width: 100%;
  }
</style>
{% endblock %}


{% block body %}
{% include 'nav.html' %}
<div class="container-xl" id="main">
  <div id="caption" class="col-12 rounded">What is Shmelegram?</div>
  <div class="row h-25" id="images">
    <img 
      src="{{ url_for('static', filename='images/logo-nobg.png') }}" 
      alt="Shmelegram logo" class="d-block col-4"
    >
    <img 
      src="{{ url_for('static', filename='images/python-logo-nobg.png') }}" 
      alt="Flask logo" class="d-block col-4"
    >
    <img 
      src="{{ url_for('static', filename='images/author-logo-nobg.png') }}" 
      alt="Author logo" class="d-block col-4"
    >
  </div>
  <div class="row" id="info">
    <p class="d-block col-4" id="idea">
      Shmelegram is a messenger prototype for EPAM Python Autumn 2021 Course. 
      It was insipred by famous Telegram messenger. 
      It's name was created by mixing a mocking &#34;sh-&#34; prefix and Telegram name.
      And by a coincidence the name rhymed with &#34;shmel&#34; (bee specie in russian).
    </p>
    <p class="d-block col-4" id="technologies">
      The website was created in Python with help of Flask web framework. 
      In addition, for chat it uses SocketIO, for database - SQLAlchemy with MySQL under the hood.
      Client side uses pure JavaScript for chat to work.
    </p>
    <p class="d-block col-4" id="author">
      The messenger was created by Andrey Shalaev (a.k.a. Hukyl), with help of Google, Stackoverflow, 
      documentation, books, Youtube tutorials, courses and so much more...
    </p>
  </div>
</div>
{% endblock %}